@import '~main.scss';
.login-background-overlay{
  @extend .container-background-overlay;
  background-color: rgba(86, 155, 190, 1);
}

.login-container {
  width: 600px;
  border: 1px solid #D5DEDC;
  padding: 45px 30px 85px;
  border-radius: 5px;
  background: -webkit-radial-gradien(rgba(255,255,255,1), rgba(250,250,250,1), rgba(245,245,245,1), rgba(235,235,235,1)); /* For Safari 5.1 to 6.0 */
  background: -o-radial-gradient(rgba(255,255,255,1), rgba(250,250,250,1), rgba(245,245,245,1), rgba(235,235,235,1)); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(rgba(255,255,255,1), rgba(250,250,250,1), rgba(245,245,245,1), rgba(235,235,235,1)); /* For Fx 3.6 to 15 */
  background: radial-gradient(rgba(255,255,255,1), rgba(250,250,250,1), rgba(245,245,245,1), rgba(235,235,235,1)); /* Standard syntax (must be last) */
}

.login-logo {
  height: 100px;
  background-image: url("../../../../public/ui-assets/img/sk-logo-1.png");
  background-repeat: no-repeat;
  background-size: 78%, 30%;
  background-position: center 45%, center 75%;
}