<!-- login view -->
<div class="container-main container-hbox login-background-overlay">
    <div class="container-center-block">
        <div class="login-container" layout="column">
            <div class="login-logo"></div>
            <label class="h2 text-blue">Login to your account</label>
            <form name="userForm" ng-submit="doLogin(user)">
                <div class="form-group">
                    <input type="text" class="form-control" id="username" ng-model="user.username" placeholder="User Name" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="password" ng-model="user.password" placeholder="Password" required>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="acceptTerms" ng-model="user.termsAndConditions" required="You must agree to the terms and conditions.">
                            I have read and agree to the Terms and Conditions
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <button type="submit" ng-disabled="userForm.$invalid" id="login-button" class="btn btn-primary-blue pull-right">LOGIN</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>