/*********************/
/* Buttons
/*********************/

.sk-btn-primary {
    color: #fff;
    background-color: #569BBE;
    border-color: #569BBE;
}

.sk-btn-primary:hover,
.sk-btn-primary:focus,
.sk-btn-primary:active,
.sk-btn-primary.active,
.open
.dropdown-toggle
.sk-btn-primary {
    color: #fff;
    background-color: #0067B1;
    border-color: #0067B1;
}