.cyan   {background-color: lightcyan;   }
.yellow {background-color: lightyellow; }
.green  {background-color: limegreen;  }
.pink   {background-color: lightpink;   }
.red   {background-color: lightpink;   }
.orange   {background-color: orange;   }