.cyan   {background-color: lightcyan;   }
.yellow {background-color: lightyellow; }
.green  {background-color: limegreen;  }
.pink   {background-color: lightpink;   }
.red   {background-color: lightpink;   }
.orange   {background-color: orange;   }


.green-sync,
.green-sync a {
    background-color: rgba(25, 176, 25, 0.43);
    color: white !important;
}

.red-sync,
.red-sync a {
    background-color:  rgba(255, 0, 0, 0.33);
    color: white !important;
}

.orange-sync,
.orange-sync a {
    background-color: orange;
    color: white !important;
}

.redText {color: #E04040}
.offWhiteText {color: #f5f5f5}

.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.modal-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #000000;
}

.modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0);
}

.modal-backdrop.fade.in {
    opacity: 0.5;
    filter: alpha(opacity=50);
}


.green-tick {
    color: lawngreen;
}

.yellow-tick {
    color: yellowgreen;
}

.red-tick {
    color: red;
}