.dash-blocks {
    margin-top: 20px;
    max-width: 901px;
    margin-left: auto;
    margin-right: auto;
}

.dash-blocks img {
    margin-bottom: -71px;
    width: 242px;
    margin-left: auto;
    margin-right: auto;
}

.dash-blocks a {
    color: #0080c4;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
}

.dash-blocks .col-md-4 {
    height: 246px;
}

.dash-blocks .thumbnail {
    min-height: 237px;
    background-color: #f7f5f5;
}

.dash-blocks .btn-bottom-right {
    position: absolute;
    bottom: 23px;
    right: 30px;
}

.dash-blocks .full-width {
    width: 224px;
    text-align: left;
}

.dash-blocks .full-width .caret {
    float: right;
    margin-top: 8px;
}

.carousel {
    position: relative;
    width: 888px;
}

.carousel-indicators {
    position: absolute;
    top: 10px;
    /* left: 50%; */
    z-index: 15;
    width: 78%;
    /* margin-left: -14%; */
    padding-left: 0;
    list-style: none;
    text-align: right;
}

.carousel.fade {
    opacity: 1;
}

.carousel.fade .item {
    -moz-transition: opacity ease-in-out .7s;
    -o-transition: opacity ease-in-out .7s;
    -webkit-transition: opacity ease-in-out .7s;
    transition: opacity ease-in-out .7s;
    left: 0 !important;
    opacity: 0;
    top:0;
    position:absolute;
    width: 100%;
    display:block !important;
    z-index:1;
}

.carousel.fade .item:first-child {
    top:auto;
    position:relative;
}

.carousel.fade .item.active {
    opacity: 1;
    -moz-transition: opacity ease-in-out .7s;
    -o-transition: opacity ease-in-out .7s;
    -webkit-transition: opacity ease-in-out .7s;
    transition: opacity ease-in-out .7s;
    z-index:2;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    border: 1px solid #A0A0A0;
    border-radius: 0;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
}

.carousel-indicators .active {
    margin: 0;
    width: 12px;
    height: 12px;
    background-color: #84dae4;
}