* {
    margin: 0;
}

html, body {
    width: 100%;
    min-width: 1024px;
    height: 100%;
    margin: 0;
    padding: 0pt;
    overflow: hidden;
    font-family: 'PT Sans', sans-serif;
}

/*********************/
/* Toaster
/*********************/

.toast-bottom-right {
    margin-bottom: 40px;
}

/*********************/
/* Blocks
/*********************/

.sk-login {
    width: 600px;
    border: 1px solid #D5DEDC;
    padding: 45px 30px 85px;
    border-radius: 5px;
    background: -webkit-radial-gradien(rgba(255,255,255,1), rgba(250,250,250,1), rgba(245,245,245,1), rgba(235,235,235,1)); /* For Safari 5.1 to 6.0 */
    background: -o-radial-gradient(rgba(255,255,255,1), rgba(250,250,250,1), rgba(245,245,245,1), rgba(235,235,235,1)); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(rgba(255,255,255,1), rgba(250,250,250,1), rgba(245,245,245,1), rgba(235,235,235,1)); /* For Fx 3.6 to 15 */
    background: radial-gradient(rgba(255,255,255,1), rgba(250,250,250,1), rgba(245,245,245,1), rgba(235,235,235,1)); /* Standard syntax (must be last) */
}

/*********************/
/* Images
/*********************/

.sk-login-logo {
    height: 100px;
    background-image: url("../img/sk-logo-1.png");
    background-repeat: no-repeat;
    background-size: 78%, 30%;
    background-position: center 45%, center 75%;
}

.sk-footer-logo-small {
    height: 30px;
    width: 200px;
    background-image: url("../img/sk-logo-1.png");
    background-repeat: no-repeat;
    background-size: 96%, 38%;
    margin-top: 13px;
    margin-left: 15px;
}

/*********************/
/* Borders
/*********************/

.top-border {
    border-top: solid 1px #646464;
}

/*********************/
/* Wrappers
/*********************/

.wrapper-div {
    overflow: scroll;
    height: calc(100% - 74px);
    padding: 10px;
}