/*********************/
/* Layout
/*********************/

.vbox {
    display: flex;
    flex-direction: column;
}

.hbox {
    display: flex;
    flex-direction: row;
}

.vbox-margin-default {
    margin-top: 10px;
}

.vbox-margin-small {
    margin-top: 5px;
}

.hbox-margin-default {
    margin-right: 10px;
}

.sk-main-margins {
    margin: 10px;
}

.main {
    flex: 1;
}

.allow-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.sk-float-right {
    float: right;
}

.center-block {
    width: 100%;

    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;


    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;


    display: -ms-box;
    -ms-box-pack: center;
    -ms-box-align: center;

    display: box;
    box-pack: center;
    box-align: center;

    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.layout-view-with-submenu {
    margin-top: 40px;
}

/*********************/
/* View Port
/*********************/

.viewport {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
}