.footer-container {
  min-height: 50px;
  border: 1px solid transparent;
  margin-bottom: 0px;
}

.footer-logo-small {
  height: 30px;
  width: 200px;
  background-image: url("../../../public/ui-assets/img/sk-logo-1.png");
  background-repeat: no-repeat;
  background-size: 96%, 38%;
  margin-top: 13px;
  margin-left: 15px;
}

.footer-btn-margin {
  margin-top: 8px;
  margin-right: 15px;
}