.header-navbar-logo {
  width: 152px;
  position: relative;
  top: 13px;
  padding-right: 10px;
}

.header-subnav-align {
  height: 100% !important;
}

@mixin header-a-base($color) {
  height: 100% !important;
  color: $color;
  background-color: #149bdf;
}

.header-subnav {
  height: 30px !important;
  max-height: 35px !important;
  background-color: black !important;
  top: 49px;
  left: 0;
  right: 0;
  position: absolute;
  border-radius: 0;
  z-index: 99996;

  li {
    margin-left: -5px;
    height: 30px !important;
    a {
      height: 100% !important;
      padding-top: 6px;
      padding-bottom: 0px;
      color: whitesmoke;
    }
  }

  .navbar-nav {
    a:hover {
      @include header-a-base(black);
    }
    .active {
      a, a:active, a:focus {
        @include header-a-base(whitesmoke);
        text-align: center;
      }
      a:hover {
        @include header-a-base(whitesmoke);
      }
    }

  }
}
